* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	background-image: url(images/patt.png);
}

.header {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 25px 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row:after,
.menu:after,
.serch:after,
.row2:after,
.radio:after {
	content: "";
	display: block;
	clear: both;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

[class*="col-"] {
	float: left;
}

.logo {
	margin-top: 7px;
}
.menu > li {
	list-style: none;
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}

.menu i {
	width: 10px;
	height: 7px;
	margin-left: 3px;
}
.menu:last-child {
	border-right: 1px solid #2c71b8;
}

.menu a {
	display: block;
	text-decoration: none;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
	color: #2c71b8;
	font-size: 21px;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.menu i:hover {
	background-color: #2c71b8;
	color: white;
	border-left: none;
}

input {
	height: 40px;
	width: 200px;
	color: #2c71b8;
	border: 1px solid #2c71b8;
	position: absolute;
}

input[name="q"] {
	background-color: transparent;
	padding-right: 50px;
	padding-left: 19px;
}

input::placeholder {
	color: #2c71b8;
	font-size: 21px;
}

.serch {
	float: left;
	width: 80%;
	margin-top: 5px;
	width: 200px;
	height: 40px;
	margin-left: 30px;
}

.cart {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url(images/shop.png);
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
	background-size: 18px 20px;
}
.col-3 {
	float: right;
	width: 20%;
	height: 40px;
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.products-count {
	background-color: #2c71b8;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -11px;
	left: -9px;
	border-radius: 20px;
	text-align: center;
	color: white;
	line-height: 20px;
}

.col-2 {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #2c71b8;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
	background-size: 14px 12px;
	float: right;
	margin: 5px;
}

.submenu {
	visibility: hidden;
	opacity: 0;
	margin: 0px;
	padding-left: 0px;
	position: absolute;
	text-align: left;
	padding: 25px 0;
	background-color: #2c71b8;
	width: 300px;
	cursor: pointer;
	margin: -1px;
	display: block;
}

.submenu li a {
	text-align: left;
	color: white;
	height: 40px;
	font-size: 21px;
	font-weight: 300;
	line-height: 40px;
	padding-left: 31px;
	border: none;
}

.menu li:hover > ul {
	visibility: visible;
	opacity: 1;
}
.menu > li:hover a {
	background-color: #2c71b8;
	color: white;
}
.menu > li:hover a:after {
	border-color: white;
}

.submenu li a:hover {
	background-color: white;
	color: #2c71b8;
}

.container2 {
	width: 1170px;
	margin: 0 auto;
	height: 2340px;
}

.stolbec__1 {
	border: 1px solid white;
	width: 270px;
	height: 660px;
	float: left;
	position: absolute;
}

.radio {
	width: 25%;
	float: left;
	margin: 0 auto;
	width: 270px;
	height: 180px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
}

.box {
	width: 100%;
	height: 400px;
	background-color: #000000;
	opacity: 0.2;
}

.pc {
	width: 270px;
	height: 180px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
}

.row2 {
	width: 25%;
}
