* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}
.header {
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

[class*="col-"] {
	float: left;
}
