* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.col {
	padding-left: 15px;
	paddng-right: 15px;
}

.header {
	position: sticky;
	background-color: black;
	top: 0;
	color: white;
}

.header-row {
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.section-row {
		max-width: 720px;
	}
	.section-row2 {
		max-width: 720px;
	}
	.header-row {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}
	.nav-menu {
		display: flex;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.section-row {
		max-width: 960px;
	}
	.section-row2 {
		max-width: 960px;
	}
}

@media (min-width: 1200px;) {
	.container {
		max-width: 1140px;
	}
	.section-row {
		max-width: 1140px;
	}
	.section-row2 {
		max-width: 1140px;
	}
}

@media (max-width: 767px;) {
}

.col-search {
	width: 197px;
	height: 27px;
	border: 2px solid #3c4147;
	border-radius: 4px;
	display: flex;
	padding-left: 8px;
}

.type {
	background-color: rgba(0, 10, 15, 0.7);
	color: white;
	width: 147px;
}

.type::placeholder {
	color: #a4aead;
	font-size: 12px;
	font-weight: bold;
}

.submit {
	background: url(img/iconsearch.png) no-repeat 50% 50%;
	width: 15px;
	padding-right: 21px;
}

.search_form {
	display: flex;
}

.nav-menu li {
	color: #a4aead;
	font-family: "Open Sans - Semibold";
	font-size: 14px;
	font-weight: 400;
	line-height: 42px;
	text-transform: uppercase;
	padding-right: 25px;
}

.nav-menu li:last-child {
	padding-right: 0px;
}

.section-1 {
	background-image: url(img/image.sec1.png);
	height: 660px;
	display: flex;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.welcome {
	width: 650px;
	height: 204px;
}

.section-row {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}

.text-welcom1 {
	color: white;
	text-transform: uppercase;
}

.text-welcom2 {
	color: #ccd0d7;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding-top: 30px;
}

.button-sec1 {
	display: flex;
	margin-top: 25px;
}

.button-sec1 a {
	width: 125px;
	height: 46px;
	font-size: 14px;
}

.button-top1 {
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	text-align: center;
	line-height: 40px;
	margin-left: 0px;
	border: 2px solid white;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	transition: 0.2s ease-in-out;
}
.button-top2:hover {
	background: #23b7a4;
	color: #fff;
}

.button-top2 {
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	margin-left: 10px;
	text-align: center;
	line-height: 40px;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	transition: 0.2s ease-in-out;
}
.button-top1:hover {
	background: #23b7a4;
	color: #fff;
	border: 2px solid #23b7a4;
}

.button-top2:hover {
	background: #23b7a4;
	color: #fff;
	border: 2px solid #23b7a4;
}

.section-2 {
	background-color: white;
	height: 1266px;
}

.section-row2 {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.modest {
	height: 448px;
	margin-top: 85px;
}

.text-modest1 {
	color: black;
	text-transform: uppercase;
	border-left: 8px solid #e4cfd3;
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	font-weight: 700;
}

.text-modest1 h2 {
	padding-left: 14px;
}

.text-modest-icon {
	width: 100%;
	height: 336px;
	margin-top: 60px;
}

.modest-text-left {
	width: 649px;
	height: 222px;
	color: #a5a7a9;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.modest-spisok {
	width: 451px;
	height: 297px;
	padding-left: 30px;
	padding-top: 9px;
}

.modest-text-spisok {
	display: flex;
}

.text-left2 {
	padding-top: 35px;
}

.costumers {
	width: 449px;
	height: 75px;
	display: flex;
}

.clients {
	width: 425px;
	display: flex;
	padding-top: 37px;
}

.happiness {
	width: 451px;
	display: flex;
	padding-top: 37px;
}

.boxing {
	width: 50px;
	height: 50px;
	background-color: #39a594;
	display: flex;
	align-items: center;
	justify-content: center;
}

.boxing-number {
	color: #ffffff;
	font-family: "Quattrocento Sans";
	font-size: 20px;
	text-transform: uppercase;
}

.title-modest-spisok {
	height: 14px;
	font-size: 15px;
	color: #292f36;
	text-transform: uppercase;
	font-weight: 700;
}

.text-spisok {
	width: 379px;
	height: 75px;
	padding-left: 20px;
}

.text-spisok-right {
	height: 222px;
	color: #a5a7a9;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	height: 43px;
	padding-top: 15px;
}

.modest-icon {
	width: 304px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.icon-bottom {
	background-color: rgb(204, 201, 201);
	width: 60px;
	height: 60px;
}

.submit1 {
	width: 100%;
	height: 100%;
	background: url(img/facebookbig.png) no-repeat 50% 50%;
}

.submit2 {
	width: 100%;
	height: 100%;
	background: url(img/twitterbig.png) no-repeat 50% 50%;
}
.submit3 {
	width: 100%;
	height: 100%;
	background: url(img/google.png) no-repeat 50% 50%;
}
.submit4 {
	width: 100%;
	height: 100%;
	background: url(img/basket.png) no-repeat 50% 50%;
}
.submit5 {
	width: 100%;
	height: 100%;
	background: url(img/bebig.png) no-repeat 50% 50%;
}

.border-top {
	width: 100%;
	height: 3px;
	background-color: #dde1e4;
	margin-top: 100px;
}

.portrets {
	height: 469px;
	margin-top: 85px;
}

.text-portrets {
	color: black;
	text-transform: uppercase;
	border-left: 8px solid #e4cfd3;
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	font-weight: 700;
}

.text-portrets h2 {
	padding-left: 14px;
}

.photo {
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
}

.photo-bottom1 {
	width: 263px;
	background: url(img/grolia.png) no-repeat 50% 50%;
	height: 300px;
}

.photo-bottom2 {
	width: 263px;
	background: url(img/paul.png) no-repeat 50% 50%;
	height: 300px;
}

.photo-bottom3 {
	width: 263px;
	background: url(img/judith.png) no-repeat 50% 50%;
	height: 300px;
}

.photo-bottom4 {
	width: 263px;
	background: url(img/delores.png) no-repeat 50% 50%;
	height: 300px;
}

.photo-text {
	width: 263px;
	height: 74px;
	background-color: #e1e6ea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-photo-1 {
}
.title-photo {
	color: #292f36;
	font-size: 16px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
}

.text-photo2 {
	font-weight: 400;
	color: #8d8f92;
}
